nav > ul > li {
	list-style-type: none;
	display: inline-block;
	margin-left: 8vw;
}
nav > ul > li:nth-child(1) {
	margin-left: 35vw;
}
nav > ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	margin: 0;
	padding-top: 10vh;
	padding-bottom: 15vh;
}
header {
	background-color: #ac9362; /*#ac9362*/
}
body {
	margin: 0;
}
header a {
	text-decoration: none;
	color: black;
	font-family: 'Arial', sans-serif;
	transition: 0.5s;
}
#pointed {
	padding-bottom: 25px;
	border-bottom: 2px solid black;
}
header a:hover {
	color: white;
}
#pointed:hover {
	border: none;
}
#listSettings {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	width: 10vw;
	font-size: 12px;
}
#listSettings > li {
	list-style-type: none;
}
button:not(.plus):not(.minus) {
	cursor: pointer;
	border: none;
	padding: 8px;
	border-radius: 5px;
	background-color: rgb(230,230,230);
	transition: 0.5s;
}
button:hover:not(.plus):not(.minus) {
	background-color: rgb(200,200,200);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}